:root {
    --btn-color: #00d7ff;
    --txt-color: #EAE8FF;
    --bg-color: #2D3142;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--txt-color);
    background: var(--bg-color);
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}

h1 {
    font-size: 7em;
    letter-spacing: -2px;
    margin-bottom: 0;
}

button {
    padding: 15px;
    background-color: var(--btn-color);
    border-radius: 10px;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 15px;
    border: none;
}

button:hover {
    background-color: #008da7;
    color: var(--txt-color);
    cursor: pointer;
}